<h2>Detalhes do Cliente</h2>
<p>Nome: <%= customer.name %></p>
<p>Email: <%= customer.email %></p>
<p>Telefone: <%= customer.phone %></p>
<p>Endereço: <%= customer.address %></p>
<a href="/customers/<%= customer.id %>/edit">Editar</a>
